{% extends "layouts/default.html" %}

{% block title %} Thông tin công ty {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<style>
    
    .fa-phone {
        text-align: left;
        margin-left: -20px;
        margin-right: 20px;
    }



    .fa-building{
        margin-left:-20px;
        margin-right: 20px;
    }
</style>
<div class="page-inner">
    <h4 class="page-title">Thông tin công ty</h4>
    <div class="row">
        <div class="col-md-8">
            <div class="card card-with-nav">
                <div class="card-header">
                    <div class="row row-nav-line">
                        <ul class="nav nav-tabs nav-line nav-color-secondary" role="tablist">
                            <li class="nav-item"> <a class="nav-link active show" data-toggle="tab" href="#chinhanh"
                                    role="tab" aria-selected="false">Thông tin chi tiết công ty</a> </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="chinhanh" role="tabpanel" aria-labelledby="profile-tab">
                            <form id="exampleValidation" novalidate="novalidate" method="post"
                                enctype="multipart/form-data">
                                <div class="row mt-3">
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default form-show-validation">
                                            <label for="nameCompany">Tên công ty</label>
                                            <input type="text" class="form-control" id="nameCompany"
                                                value="MQ Solutions" name="nameCompany" placeholder="Tên công ty"
                                                required="" aria-invalid="true">
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default form-show-validation">
                                            <label for="phoneNumber">Số điện thoại</label>
                                            <input type="number" class="form-control" id="phoneNumber"
                                                value="0123456789" name="phoneNumber" placeholder="Số điện thoại"
                                                required="" aria-invalid="true">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default form-show-validation">
                                            <label for="email">Email</label>
                                            <input type="email" class="form-control" id="email"
                                                value="info@solutions.vn" placeholder="Enter Email" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group-default form-show-validation">
                                            <label for="typeCompany">Loại hinh công ty</label>
                                            <input type="text" class="form-control" id="typeCompany"
                                                value="Công ty công nghệ" name="typeCompany"
                                                placeholder="Loại hinh công ty" required="" aria-invalid="true">

                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group form-group-default">
                                            <label>Ảnh đại diện</label>
                                            <input type="file" id="uploadImg" name="uploadImg" class="form-control"
                                                multiple required />
                                        </div>
                                    </div>
                                </div>
                                <div class="text-right mt-3 mb-3">
                                    <div class="pull-right mt-3 mb-3">
                                        <input type="submit" name="" value="Lưu thông tin" class="btn btn-success">
                                        <input type="reset" name="" value="Hủy Bỏ" class="btn btn-danger">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile card-secondary">
                <div class="card-header" style="background-image: url('/static/assets/img/blogpost.jpg')">
                    <div class="profile-picture">
                        <div class="avatar avatar-xl">
                            <img src="/static/assets/img/jm_denis.jpg" alt="..." class="avatar-img rounded-circle">
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="user-profile text-center">
                        <div class="name">MQ Solutions</div>
                        <div class="desc"><i class="fa fa-building" aria-hidden="true"> Công ty công nghệ</i> <i class="fa fa-user" aria-hidden="true"> 50 người</i></div>
                        <div class="desc"><i class="fa fa-map" > 12 Khuất Duy Tiến , Hà Nội</i></div>
                        <div class="desc"><span class="fa fa-phone"> 0345736211</span> <span class="fa fa-envelope">
                                quangminh28897@gmail.com</span></div>
                        <div class="social-media">
                            <a class="btn btn-info btn-twitter btn-sm btn-link" href="#">
                                <span class="btn-label just-icon"><i class="flaticon-twitter"></i></span>
                            </a>
                            <a class="btn btn-danger btn-sm btn-link" rel="publisher" href="#">
                                <span class="btn-label just-icon"><i class="flaticon-google-plus"></i> </span>
                            </a>
                            <a class="btn btn-primary btn-sm btn-link" rel="publisher" href="#">
                                <span class="btn-label just-icon"><i class="flaticon-facebook"></i> </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block javascripts %}

<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}