{% extends "layouts/login-defautl.html" %}

{% block title %} Đăng nhập{% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<style>
    .card-body {
        margin: auto;
        width: 30%;
        padding: 10px;
    }

    .btn-center {
        display: block;
        margin: 0 auto;
    }

    .main-panel {
        width: 100%;
    }

    .card-title {
        text-align: center;
    }

    .link-login {
        position: relative;
        left: -9.3%;
        top: -137px;
        background: transparent;
        border: none;
        color: white;
        cursor: pointer;
    }

    .link-login:hover {
        color: white;
        text-decoration: none;
        background: transparent;
    }
</style>
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">

                        {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                        <span>Đăng nhập tài khoản</span>
                        {% endif %}

                    </div>
                </div>
                <form method="post" action="">
                    {{ form.hidden_tag() }}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-12">

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-user"></i>
                                            </span>
                                        </div>
                                        {{ form.username(placeholder="Tài Khoản", class="form-control") }}
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-lock"></i>
                                            </span>
                                        </div>
                                        {{ form.password(placeholder="Mật khẩu", class="form-control", type="password") }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-success btn-center">Đăng nhập</button>
                    </div>

                </form>
                <button type="button" class="link-login" data-toggle="modal" data-target="#myModal"><i>Đăng kí tài
                        khoản</i></button>
                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="pull-left">Vui lòng nhập các thông tin sau !</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <div class="modal-body">
                                <form method="post" id="exampleValidation" novalidate="novalidate">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-default form-show-validation has-error">
                                                <label for="name">Tài khoản</label>
                                                <input type="text" class="form-control" id="name" name="name"
                                                    placeholder="Tài khoản" required="" aria-invalid="true">

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default form-show-validation has-error">
                                                <label for="password"></label>Mật khẩu</label>
                                                <input type="password" class="form-control" id="passwordLogin"
                                                    name="password" placeholder="Mật khẩu" required="">

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default form-show-validation has-error">
                                                <label for="confirmpassword"></label>Nhập lại mật khẩu</label>
                                                <input type="password" class="form-control" id="confirmpassword"
                                                    name="confirmpassword" placeholder="Nhập lại mật khẩu" required="">

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default form-show-validation has-error">
                                                <label for="codeMenber">Mã nhân viên</label>
                                                <input type="number" class="form-control" id="codeMenber"
                                                    name="codeMenber" placeholder="Mã nhân viên" required=""
                                                    aria-invalid="true">

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default form-show-validation has-error">
                                                <label for="username">Họ và Tên</label>
                                                <input type="text" class="form-control" id="username" name="username"
                                                    placeholder="Họ và Tên" required="" aria-invalid="true">

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default form-show-validation has-error">
                                                <label for="nameCompany">Tên công ty</label>
                                                <input type="text" class="form-control" id="nameCompany"
                                                    name="nameCompany" placeholder="Tên công ty" required=""
                                                    aria-invalid="true">

                                            </div>
                                        </div>

                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default form-show-validation has-error">
                                                <label for="addressCompany">Địa chỉ công ty</label>
                                                <input type="text" class="form-control" id="addressCompany"
                                                    name="addressCompany" placeholder="Địa chỉ công ty" required=""
                                                    aria-invalid="true">

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default form-show-validation has-error">
                                                <label for="chucvu">Chức vụ công ty</label>
                                                <input type="text" class="form-control" id="chucvu" name="chucvu"
                                                    placeholder="Chức vụ công ty" required="" aria-invalid="true">

                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group form-group-default form-show-validation has-error">
                                                <label for="email">Email </label>
                                                <input type="email" class="form-control" id="email"
                                                    placeholder="Enter Email" required="">

                                            </div>
                                        </div>

                                    </div>
                                    <div class="text-right mt-3 mb-3">
                                        <input type="submit" name="" value="Thêm người dùng" class="btn btn-success">
                                        <input type="reset" name="" value="Hủy Bỏ" class="btn btn-danger">
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script src="/assets/js/setting-demo2.js"></script>
<script>
    $("#exampleValidation").validate({
        validClass: "success",
        rules: {
            gender: {
                required: true
            },
            confirmpassword: {
                equalTo: "#passwordLogin"
            },
            birth: {
                date: true
            },
            uploadImg: {
                required: true,
            },
        },
        highlight: function (element) {
            $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
        },
        success: function (element) {
            $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
        },
    });
</script>
{% endblock javascripts %}