{% extends "layouts/default.html" %}

{% block title %} Quản lý chi nhánh {% endblock title %}

{% block stylesheets %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
{% endblock stylesheets %}

{% block content %}
<style>
    .fix-right-mqn {
        margin-right: 10px;
    }

    .timepicker {
        position: relative;
    }
</style>
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Quản lý chi nhánh</h4>
                        <button class="btn btn-primary btn-round ml-auto fix-right-mqn" data-toggle="modal"
                            data-target="#addRowModal">
                            <i class="fa fa-plus"></i>
                            Thêm chi nhánh
                        </button>
                        <button class="btn btn-primary btn-round">
                            <span class="btn-label">
                                <i class="fa fa-print"></i>
                            </span>
                            Print
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Modal -->
                    <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-bd">
                                    <h5 class="modal-title">
                                        <span class="fw-mediumbold">Thông tin chi nhánh</span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="exampleValidation" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default form-show-validation has-error">
                                                    <label for="nameBrach">Tên chi nhánh</label>
                                                    <input type="text" class="form-control" id="nameBrach"
                                                        name="nameBrach" placeholder="Tên chi nhánh" required=""
                                                        aria-invalid="true">

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group form-group-default form-show-validation has-error">
                                                    <label for="addressBrach">Địa chỉ chi nhánh</label>
                                                    <input type="text" class="form-control" id="addressBrach"
                                                        name="addressBrach" placeholder="Địa chỉ chi nhánh" required=""
                                                        aria-invalid="true">

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                    <div class="form-group form-group-default vorm-show-validation">
                                                            <label>Thời gian bắt đầu</label>
                                                            <input type="text" class="form-control" id="checkin" name="checkin"
                                                               placeholder="Thời gian bắt đầu" required="">
                                                        </div>
                                            </div>
                                            <div class="col-sm-6">
                                                    <div class="form-group form-group-default vorm-show-validation">
                                                            <label>Thời gian kết thúc</label>
                                                            <input type="text" class="form-control" id="checkout" name="checkout"
                                                               placeholder="Thời gian kết thúc" required="">
                                                        </div>
                                            </div>
                                        </div>
                                        <div class="pull-right mt-3 mb-3">
                                                <input type="submit" name="" value="Thêm chi nhánh" class="btn btn-success">
                                                <input type="reset" name="" value="Hủy Bỏ" class="btn btn-danger">
                                            </div>
                                    </form>
                                </div>
                               
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover table-head-bg-primary">
                            <thead>
                                <tr>
                                    <th>Tên chi nhánh</th>
                                    <th>Địa chỉ chi nhánh</th>
                                    <th>Tên công ty</th>
                                    <th>Thời gian bắt đầu</th>
                                    <th>thời gian kết thúc</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Namebranch</th>
                                    <td>Addressbranch</td>
                                    <th>Namecompany</th>
                                    <th>checkin</th>
                                    <th>checkount</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>MQ Viet nam</td>
                                    <td>12 Khuất Duy tiến , hà nội</td>
                                    <td>MQ solutions</td>
                                    <th>8:00 AM</th>
                                    <th>17:00 PM</th>
                                    <td>
                                        <div class="form-button-action">
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                <a href="detail-branch-company.html"><i class="fa fa-edit"></i></a>
                                            </button>
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-danger" data-original-title="Remove">
                                                <i id="delete" class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>MQ Viet nam</td>
                                    <td>15 Xuân Diệu , Hồ Chí Minh</td>
                                    <td>MQ solutions</td>
                                    <th>8:00 AM</th>
                                    <th>17:00 PM</th>
                                    <td>
                                        <div class="form-button-action">
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                <a href="detail-branch-company.html"><i class="fa fa-edit"></i></a>
                                            </button>
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-danger" data-original-title="Remove">
                                                <i id="delete" class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/js/setting-demo2.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $(
                            '<select class="form-control"><option value=""></option></select>'
                        )
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d +
                            '</option>')
                    });
                });
            }
        });

        // $('#add-row tbody').on( 'click', 'tr', function () {
        //        $(this).toggleClass('selected');
        //    } );

        //    $('#selectRowModal').click( function () {
        //        alert( $('#add-row').DataTable().rows('.selected').data().length +' row(s) selected' );
        //    } );


        var action =
            '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function () {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
            ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>


{% endblock javascripts %}