{% extends "layouts/default.html" %}

{% block title %} Quản lý công ty {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
<style>
    .fix-right-mqn {
        margin-right: 10px;
    }

    .package {

        color: white;
        padding: 10px 10px !important;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    .basic {
        background: #575962;
    }

    .standard {
        background: #ffc107;
    }

    .advanced {
        background: #dc3545;
    }
</style>
<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Quản lý công ty</h4>
                        <button class="btn btn-primary btn-round ml-auto fix-right-mqn" data-toggle="modal"
                            data-target="#addRowModal">
                            <i class="fa fa-plus"></i>
                            Thêm công ty
                        </button>
                        <button class="btn btn-primary btn-round">
                            <span class="btn-label">
                                <i class="fa fa-print"></i>
                            </span>
                            Print
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Modal -->
                    <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header no-bd">
                                    <h5 class="modal-title">
                                        <span class="fw-mediumbold">Thông tin công ty</span>
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form method="post" id="exampleValidation" novalidate="novalidate">
                                        <div class="row">
                                            <div class="col-sm-6 pr-0">
                                                <div
                                                    class="form-group form-group-default form-show-validation has-error">
                                                    <label for="nameCompany">Tên công ty</label>
                                                    <input type="text" class="form-control" id="nameCompany"
                                                        name="nameCompany" placeholder="Tên công ty" required=""
                                                        aria-invalid="true">

                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div
                                                    class="form-group form-group-default form-show-validation has-error">
                                                    <label for="phoneNumber">Số điện thoại</label>
                                                    <input type="number" class="form-control" id="phoneNumber"
                                                        name="phoneNumber" placeholder="Số điện thoại" required=""
                                                        aria-invalid="true">
                                                </div>
                                            </div>
                                            <div class="col-md-6 pr-0">
                                                <div
                                                    class="form-group form-group-default form-show-validation has-error">
                                                    <label for="email">Email </label>
                                                    <input type="email" class="form-control" id="email"
                                                        placeholder="Enter Email" required="">

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div
                                                    class="form-group form-group-default form-show-validation has-error">
                                                    <label for="typeCompany">Loại hinh công ty</label>
                                                    <input type="text" class="form-control" id="typeCompany"
                                                        name="typeCompany" placeholder="Loại hinh công ty" required=""
                                                        aria-invalid="true">

                                                </div>
                                            </div>
                                            <div class="col-md-6 pr-0">
                                                <div
                                                    class="form-group form-group-default form-show-validation has-error">
                                                    <label for="totalMenber">Số lượng nhân viên</label>
                                                    <input type="number" class="form-control" id="totalMenber"
                                                        name="totalMenber" placeholder="Số lượng nhân viên" required=""
                                                        aria-invalid="true">

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group form-group-default">
                                                    <!-- Super Admin không cần kiểm soát -->
                                                    <label>Gói công ty</label>
                                                    <select name="" id="locationCompany" class="form-control">
                                                        <option value="">Cơ bản</option>
                                                        <option value="">Tiêu chuẩn</option>
                                                        <option value="">Nâng cao</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="pull-right mt-3 mb-3">
                                            <input type="submit" name="" value="Thêm công ty" class="btn btn-success">
                                            <input type="reset" name="" value="Hủy Bỏ" class="btn btn-danger">
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table id="add-row" class="display table table-striped table-hover table-head-bg-primary">
                            <thead>
                                <tr>

                                    <th>Tên công ty</th>
                                    <th>Gói</th>
                                    <th>Số lượng nhân viên</th>
                                    <th>Trụ sở công ty</th>
                                    <th>Số điện thoại</th>
                                    <th style="width: 10%">Action</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Name</th>
                                    <th>package</th>
                                    <th>Classify</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr>
                                    <td>MQ Solutions</td>
                                    <td class="package basic">Cơ bản</td>
                                    <td>40 người</td>
                                    <td>12 Khuất duy tiến , Hà Nội</td>
                                    <td>0123456789</td>
                                    <td>
                                        <div class="form-button-action">
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                <a href="detail-company.html"><i class="fa fa-edit"></i></a>
                                            </button>
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-danger" data-original-title="Remove">
                                                <i id="delete" class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ABCDXYZ</td>
                                    <td class="package standard">Tiêu chuẩn</td>
                                    <td>20 người</td>
                                    <td>12 Khuất duy tiến , Hà Nội</td>
                                    <td>0123456789</td>
                                    <td>
                                        <div class="form-button-action">
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                <a href="detail-company.html"><i class="fa fa-edit"></i></a>
                                            </button>
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-danger" data-original-title="Remove">
                                                <i id="delete" class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>XYZCBA</td>
                                    <td class="package advanced">Nâng cao</td>
                                    <td>80 người</td>
                                    <td>12 Khuất duy tiến , Hà Nội</td>
                                    <td>0123456789</td>
                                    <td>
                                        <div class="form-button-action">
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task">
                                                <a href="detail-company.html"><i class="fa fa-edit"></i></a>
                                            </button>
                                            <button type="button" data-toggle="tooltip" title=""
                                                class="btn btn-link btn-danger" data-original-title="Remove">
                                                <i id="delete" class="fa fa-times"></i>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script src="/static/assets/js/setting-demo2.js"></script>
<script>
    $(document).ready(function () {
        // Add Row
        $('#add-row').DataTable({
            "pageLength": 10,
            initComplete: function () {
                this.api().columns().every(function () {
                    var column = this;
                    var select = $(
                            '<select class="form-control"><option value=""></option></select>'
                        )
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        select.append('<option value="' + d + '">' + d +
                            '</option>')
                    });
                });
            }
        });

        // $('#add-row tbody').on( 'click', 'tr', function () {
        //        $(this).toggleClass('selected');
        //    } );

        //    $('#selectRowModal').click( function () {
        //        alert( $('#add-row').DataTable().rows('.selected').data().length +' row(s) selected' );
        //    } );


        var action =
            '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

        $('#addRowButton').click(function () {
            $('#add-row').dataTable().fnAddData([
                $("#addName").val(),
                $("#addPosition").val(),
                $("#addOffice").val(),
                action
            ]);
            $('#addRowModal').modal('hide');

        });
    });
</script>
<script>
    // Click delete
    //== Class definition
    var SweetAlert2Demo = function () {
        //== Demos
        var initDemos = function () {
            $('#delete').click(function (e) {
                swal({
                    title: 'Bạn có chắc không?',
                    type: 'warning',
                    buttons: {
                        cancel: {
                            visible: true,
                            text: 'HỦY BỎ',
                            className: 'btn btn-danger'
                        },
                        confirm: {
                            text: 'ĐỒNG Ý , XÓA',
                            className: 'btn btn-success'
                        }
                    }
                }).then((willDelete) => {
                    if (willDelete) {
                        swal("Xóa thông tin thành công", {
                            icon: "success",
                            buttons: {
                                confirm: {
                                    className: 'btn btn-success'
                                }
                            }
                        });
                    } else {
                        swal("Bạn đã hủy tác vụ xóa", {
                            buttons: {
                                confirm: {
                                    className: 'btn btn-success'
                                }
                            }
                        });
                    }
                });
            })

        };

        return {
            //== Init
            init: function () {
                initDemos();
            },
        };
    }();

    //== Class Initialization
    jQuery(document).ready(function () {
        SweetAlert2Demo.init();
    });
</script>

{% endblock javascripts %}