{% extends "layouts/default.html" %}

{% block title %} Thông tin gói dịch vụ {% endblock title %}

{% block stylesheets %}
<style>
    .not-buy {
        background: black !important;
        opacity: 0.3;
        cursor: not-allowed;
    }

    h4,
    .modal-title {
        color: black;
        text-align: left;
    }

    label {
        text-align: left;
    }

    .img-creat-pay-pro-mqn {
        width: 100%;
    }

    .disabled {
        cursor: not-allowed;
        pointer-events: none;

    }

    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
</style>
{% endblock stylesheets %}

{% block content %}


<div class="page-inner">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex align-items-center">
                        <h4 class="card-title">Thông tin gói dịch vụ</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-md-4 pl-md-0 not-buy">
                            <div class="card-pricing2 card-success">
                                <div class="pricing-header">
                                    <h3 class="fw-bold">Standard</h3>
                                    <span class="sub-title">Lorem ipsum</span>
                                </div>
                                <div class="price-value">
                                    <div class="value">
                                        <span class="currency">$</span>
                                        <span class="amount">10.<span>99</span></span>
                                        <span class="month">/month</span>
                                    </div>
                                </div>
                                <ul class="pricing-content">
                                    <li>50GB Disk Space</li>
                                    <li>50 Email Accounts</li>
                                    <li>50GB Monthly Bandwidth</li>
                                    <li class="disable">10 Subdomains</li>
                                    <li class="disable">15 Domains</li>
                                </ul>
                                <h1 class="btn btn-success btn-border btn-lg w-75 fw-bold mb-3 disabled">Đã sử dụng</h1>
                            </div>
                        </div>
                        <div class="col-md-4 pl-md-0 pr-md-0">
                            <div class="card-pricing2 card-primary">
                                <div class="pricing-header">
                                    <h3 class="fw-bold">Business</h3>
                                    <span class="sub-title">Lorem ipsum</span>
                                </div>
                                <div class="price-value">
                                    <div class="value">
                                        <span class="currency">$</span>
                                        <span class="amount">20.<span>99</span></span>
                                        <span class="month">/month</span>
                                    </div>
                                </div>
                                <ul class="pricing-content">
                                    <li>60GB Disk Space</li>
                                    <li>60 Email Accounts</li>
                                    <li>60GB Monthly Bandwidth</li>
                                    <li>15 Subdomains</li>
                                    <li class="disable">20 Domains</li>
                                </ul>
                                <h1 class="btn btn-primary btn-border btn-lg w-75 fw-bold mb-3" data-toggle="modal"
                                    data-target="#myModal">Mua gói</h1>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Thánh toán gói dịch vụ</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <img src="/static/assets/img/creditcardicons.png" alt=""
                                                    class="img-creat-pay-pro-mqn">
                                                <form id="exampleValidation" novalidate="novalidate" method="post"
                                                    enctype="multipart/form-data">
                                                    <h4>Thông tin thẻ</h4>
                                                    <div class="row">
                                                        <div class="col-sm-12 ">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="username">Họ và tên chủ thẻ</label>
                                                                <input type="text" class="form-control" id="username"
                                                                    name="username" placeholder="Họ và tên chủ thẻ"
                                                                    required="" aria-invalid="true">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 pr-0">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="codeNember">ngân hàng</label>
                                                                <input list="codeUser" class="form-control"
                                                                    id="codeNember" name="codeNember"
                                                                    placeholder="NGÂN HÀNG" required=""
                                                                    aria-invalid="true">
                                                                <datalist id="codeUser">
                                                                    <option value="Vietcombak">Vietcombak</option>
                                                                    <option value="TPbank">TPbank</option>
                                                                    <option value="Techcombank">Techcombank</option>
                                                                    <option value="Vietcombank">Vietcombank</option>
                                                                    <option value="MBbank">MBbank</option>
                                                                    <option value="ACBbank">ACBbank</option>
                                                                </datalist>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="cardNumber">MÃ THẺ</label>
                                                                <input type="text" class="form-control" id="cardNumber"
                                                                    name="cardNumber" placeholder="SỐ THẺ" required=""
                                                                    minlength="12" maxlength="16" aria-invalid="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6 pr-0">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="expDate">NGÀY HẾT HẠN</label>
                                                                <input type="text" class="form-control" id="expDate"
                                                                    name="expDate" placeholder="NGÀY HẾT HẠN"
                                                                    required="" aria-invalid="true">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="cvCode">MÃ CV</label>
                                                                <input type="text" class="form-control" id="cvCode"
                                                                    name="cvCode" placeholder="MÃ CV" required=""
                                                                    maxlength="3" aria-invalid="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-right mt-3 mb-3">
                                                        <input type="submit" name="" value="Đăng kí gói"
                                                            class="btn btn-success">
                                                        <input type="reset" name="" value="Hủy Bỏ"
                                                            class="btn btn-danger">
                                                    </div>
                                                </form>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pr-md-0">
                            <div class="card-pricing2 card-secondary">
                                <div class="pricing-header">
                                    <h3 class="fw-bold">Premium</h3>
                                    <span class="sub-title">Lorem ipsum</span>
                                </div>
                                <div class="price-value">
                                    <div class="value">
                                        <span class="currency">$</span>
                                        <span class="amount">30.<span>99</span></span>
                                        <span class="month">/month</span>
                                    </div>
                                </div>
                                <ul class="pricing-content">
                                    <li>70GB Disk Space</li>
                                    <li>70 Email Accounts</li>
                                    <li>70GB Monthly Bandwidth</li>
                                    <li>20 Subdomains</li>
                                    <li>25 Domains</li>
                                </ul>
                                <h1 class="btn btn-secondary btn-border btn-lg w-75 fw-bold mb-3" data-toggle="modal"
                                    data-target="#myModal">Đã sử dụng</h1>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Thánh toán gói dịch vụ</h4>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <img src="/static/assets/img/creditcardicons.png" alt=""
                                                    class="img-creat-pay-pro-mqn">
                                                <form id="exampleValidation" novalidate="novalidate" method="post"
                                                    enctype="multipart/form-data">
                                                    <h4>Thông tin thẻ</h4>
                                                    <div class="row">
                                                        <div class="col-sm-12 ">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="username">Họ và tên chủ thẻ</label>
                                                                <input type="text" class="form-control" id="username"
                                                                    name="username" placeholder="Họ và tên chủ thẻ"
                                                                    required="" aria-invalid="true">
                                                            </div>
                                                        </div>

                                                        <div class="col-sm-6 pr-0">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="codeNember">ngân hàng</label>
                                                                <input list="codeUser" class="form-control"
                                                                    id="codeNember" name="codeNember"
                                                                    placeholder="NGÂN HÀNG" required=""
                                                                    aria-invalid="true">
                                                                <datalist id="codeUser">
                                                                    <option value="Vietcombak">Vietcombak</option>
                                                                    <option value="TPbank">TPbank</option>
                                                                    <option value="Techcombank">Techcombank</option>
                                                                    <option value="Vietcombank">Vietcombank</option>
                                                                    <option value="MBbank">MBbank</option>
                                                                    <option value="ACBbank">ACBbank</option>
                                                                </datalist>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="cardNumber">MÃ THẺ</label>
                                                                <input type="text" class="form-control" id="cardNumber"
                                                                    name="cardNumber" placeholder="SỐ THẺ" required=""
                                                                    minlength="12" maxlength="16" aria-invalid="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-6 pr-0">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="expDate">NGÀY HẾT HẠN</label>
                                                                <input type="text" class="form-control" id="expDate"
                                                                    name="expDate" placeholder="NGÀY HẾT HẠN"
                                                                    required="" aria-invalid="true">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div
                                                                class="form-group form-group-default form-show-validation">
                                                                <label for="cvCode">MÃ CV</label>
                                                                <input type="text" class="form-control" id="cvCode"
                                                                    name="cvCode" placeholder="MÃ CV" required=""
                                                                    maxlength="3" aria-invalid="true">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-right mt-3 mb-3">
                                                        <input type="submit" name="" value="Đăng kí gói"
                                                            class="btn btn-success">
                                                        <input type="reset" name="" value="Hủy Bỏ"
                                                            class="btn btn-danger">
                                                    </div>
                                                </form>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}

<script>
    $('#cardNumber')
        .blur(function () {
            var value = $(this).val();
            value = value.match(/.{1,4}/g).join(" ");
            $(this).val(value);
        })
        .focus(function () {
            var value = $(this).val();
            value = value.replace(/\s/g, '');
            $(this).val(value);
        });

    function setInputFilter(textbox, inputFilter) {
        ["input"].forEach(function (event) {
            textbox.addEventListener(event, function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        });
    }
    setInputFilter(document.getElementById("cardNumber"), function (value) {
        return /^-?\d*$/.test(value);
    });
    setInputFilter(document.getElementById("cvCode"), function (value) {
        return /^-?\d*$/.test(value);
    });
</script>

<script src="/static/assets/js/setting-demo2.js"></script>

{% endblock javascripts %}